GPATH
GRTAGS
GTAGS
Makefile
autom4te.cache/
config.h
config.h.in~
config.log
config.rpath~
config.status
doc/Makefile
doc/bwk/Makefile
doc/bwk/ed-adv.pdf
doc/bwk/ed-adv.ps
doc/bwk/ed-intro.pdf
doc/bwk/ed-intro.ps
doc/ed-adv-incl.texi
doc/ed-adv-info.texi
doc/ed-intro-incl.texi
doc/ed-intro-info.texi
intl/COPYING.LIB
intl/Makefile
intl/Makefile.in~
intl/intl-exports.c~
intl/verify.h~
intl/xsize.c
intl/xsize.h~
lib/.deps/
lib/Makefile
lib/libed.a
lib/regex.h
lib/regex.o
libtool
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps/
src/Makefile
src/aux.o
src/buf.o
src/cmds.o
src/ed
src/exec.o
src/glbl.o
src/io.o
src/main.o
src/page.o
src/parse.o
src/re.o
src/signal.o
src/sub.o
src/undo.o
src/version.o
stamp-h1
testsuite/Makefile
testsuite/atconfig
testsuite/ed
testsuite/testsuite-dist.dir/
testsuite/testsuite-dist.log
testsuite/ts-am-sw.ed
