#/Makefile.am
/_Noreturn.h
/arg-nonnull.h
#/assert.in.h
/attribute.h
/btowc.c
/c++defs.h
/cdefs.h
/dynarray.h
#/fcntl.in.h
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/hard-locale.c
/hard-locale.h
/intprops-internal.h
/intprops.h
/inttypes.in.h
/iswblank.c
#/iswctype-impl.h
/iswctype.c
/iswdigit.c
/iswpunct.c
/iswxdigit.c
/langinfo.in.h
/lc-charset-dispatch.c
/lc-charset-dispatch.h
/libc-config.h
/limits.in.h
/localcharset.c
/localcharset.h
/locale.in.h
/localeconv.c
#/malloc.c
/mbrtowc-impl-utf8.h
/mbrtowc-impl.h
/mbrtowc.c
/mbsinit.c
/mbszero.c
/mbtowc-impl.h
/mbtowc-lock.c
/mbtowc-lock.h
/mbtowc.c
/nl_langinfo-lock.c
/nl_langinfo.c
#/pthread-once.c
#/pthread.in.h
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
#/sched.in.h
/setlocale-lock.c
/setlocale_null-unlocked.c
/setlocale_null.c
/setlocale_null.h
/stdckdint.in.h
/stddef.in.h
/stdint.in.h
#/stdlib.c
/stdlib.in.h
/streq.h
/sys_types.in.h
#/time.in.h
/unistd.c
/unistd.in.h
/verify.h
/warn-on-use.h
/wchar.in.h
/wcrtomb.c
/wctype-h.c
#/wctype-impl.h
#/wctype.c
/wctype.in.h
/windows-initguard.h
/windows-mutex.c
/windows-mutex.h
/windows-once.c
/windows-once.h
/windows-recmutex.c
/windows-recmutex.h
/windows-rwlock.c
/windows-rwlock.h
#/string.c
#/string.in.h
/strncpy.c
